<mat-toolbar class="mat-elevation-z8">
  <div class="logo" (click)="goToMainPage()">
    <img
      loading="lazy"
      src="assets/images/shopping-cart-logo.png"
      width="60"
      height="60"
    />
    <span>BC Store</span>
  </div>

  <div class="categories-menu">
    <button mat-button [matMenuTriggerFor]="categoryMenu">Categories</button>
    <mat-menu #categoryMenu="matMenu" yPosition="below">
      <span
        mat-menu-item
        *ngFor="let category of categories"
        (click)="search({ category: category })"
      >
        {{ category }}
      </span>
      <span mat-menu-item>And more...</span>
    </mat-menu>

    <mat-form-field appearance="outline">
      <button
        matPrefix
        mat-icon-button
        [disabled]="searchInput.value === ''"
        (click)="search({ filter: searchInput.value })"
      >
        <mat-icon>search</mat-icon>
      </button>
      <input
        type="text"
        matInput
        id="search"
        #searchInput
        placeholder="Search"
        autocomplete="off"
        (keyup.enter)="search({ filter: searchInput.value })"
      />
      <button
        mat-icon-button
        matSuffix
        aria-label="Cancel search"
        *ngIf="searchInput.value"
        (click)="onCancel()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="account-manage">
    <button *ngIf="!isAtCart" mat-icon-button (click)="goToCart()">
      <mat-icon
        [matBadge]="cartService.getCartProducts().length"
        [matBadgeHidden]="cartService.getCartProducts().length === 0"
        matBadgePosition="below"
        matBadgeSize="small"
      >
        shopping_cart
      </mat-icon>
    </button>

    <a
      *ngIf="isLogged && loggedUser !== null"
      (click)="goToAccountManagement(loggedUser.role === 'admin')"
    >
      <span> Hello, {{ loggedUser.name }} </span>
    </a>

    <a id="login-logout-btn" *ngIf="!isAtCart" (click)="loginOrLogout()">
      <mat-icon [fontIcon]="isLogged ? 'logout' : 'login'"></mat-icon>
      <span> {{ isLogged ? "Logout" : "Login" }} </span>
    </a>
  </div>
</mat-toolbar>
