mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 2;

  span {
    margin-left: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .categories-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .account-manage {
    display: flex;
    gap: 20px;
    cursor: pointer;

    button {
      .mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
    a {
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 13px;

      .mat-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
:host ::ng-deep .mat-mdc-form-field.mat-mdc-form-field-type-mat-input {
  width: 55%;
}
:host ::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
:host ::ng-deep .mat-form-field-outline {
  opacity: 0 !important;
}
:host ::ng-deep .mat-form-field-prefix,
:host ::ng-deep .mat-form-field-suffix {
  margin: auto 0;
}
:host
  ::ng-deep
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}
