<div class="go-back">
  <button mat-icon-button routerLink="/cart/resume">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Back to Resume</span>
</div>
<div class="checkout-container">
  <div class="zip-code">
    <mat-form-field class="example-full-width">
      <mat-label>ZIP Code</mat-label>
      <input matInput placeholder="Enter the ZIP Code" maxlength="9" />
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="payment">
    <div class="payment-data"></div>
    <button mat-raised-button color="primary" (click)="checkout()">
      CONFIRM
    </button>
  </div>
</div>
