::ng-deep .go-back {
  display: flex;
  align-items: center;
}
::ng-deep .checkout-container {
  background-color: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .zip-code {
    width: 45%;

    .mat-mdc-form-field {
      width: 100%;
      height: 5rem;

      .mdc-text-field:not(.mdc-text-field--disabled):not(
          .mdc-text-field--focused
        )
        .mdc-floating-label {
        color: black;
      }

      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: rgb(235, 235, 235);

        input,
        input::placeholder {
          color: black;
        }
      }
    }
  }
  .payment {
    button.mdc-button {
      margin-top: 10px;
      width: 200px;
    }
  }
}
