::ng-deep .go-back {
  display: flex;
  align-items: center;
}
::ng-deep .checkout-container {
  background-color: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .payment-method {
    width: 60%;

    .mat-mdc-form-field {
      width: 100%;
      height: 5rem;
    }
  }
  .confirm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    span.confirm-data {
      font-size: 1.5rem;
      font-weight: 500;
    }
    button.mdc-button {
      width: 200px;
    }
  }
}
