<mat-card (click)="openDetails(product.id.toString())">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
  </mat-card-header>
  <div class="card-image">
    <img matCardImage loading="lazy" [src]="product.thumbnail" />
  </div>
  <mat-card-content>
    <div class="content">
      <span class="price">
        {{ product.price | currency : "USD" : "symbol" }}
      </span>
      <span class="quantity" [class.sold-out]="this.isSoldOut()">
        {{ getRemain() }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      (click)="addToCart($event)"
      color="primary"
      *ngIf="!isSoldOut()"
    >
      Add to Cart
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <div class="rating">
      <div class="rate">
        <mat-icon fontIcon="star"></mat-icon>
        <span>{{ product.rating }}</span>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
