mat-card {
  height: 380px;
  background-color: white;
  cursor: pointer;

  mat-card-header {
    height: 56px;
    margin-bottom: 10px;

    .mat-mdc-card-title {
      max-height: 60px;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px !important;
    }
  }

  mat-card-content {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;

    .content {
      width: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: 17px;
        font-weight: bold;
      }
      .sold-out {
        color: red;
        font-weight: 700;
      }
    }
  }

  .card-image {
    margin: 0 auto;
    height: 200px;
    display: flex;
    align-items: center;
    object-fit: contain;
    position: relative;

    img {
      padding: 10px;
      height: 200px;
      width: 100%;
      object-fit: contain;
    }
  }

  mat-card-footer {
    padding: 0 16px 10px;

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .rate {
        display: flex;
        align-items: center;
      }
      .mat-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
      }
      span {
        padding-left: 10px;
        font-size: 15px;
      }
    }
  }
}
