<footer class="mat-elevation-z8">
  <div class="footer-container">
    <div class="links">
      <a routerLink="/">Buy your Products</a>
      <a routerLink="/cart">Make your Order</a>
    </div>
    <div class="social-networks">
      <a>
        <img
          src="https://storecomponents.vtexassets.com/_v/public/assets/v1/published/vtex.store-footer@2.26.0/public/react/ebd4bd10e66138168eb6a582e00790ea.svg"
          loading="lazy"
        />
      </a>
      <a>
        <img
          src="https://storecomponents.vtexassets.com/_v/public/assets/v1/published/vtex.store-footer@2.26.0/public/react/6a61a302319c062aceb9562a66381a63.svg"
          loading="lazy"
        />
      </a>
      <a>
        <img
          src="https://storecomponents.vtexassets.com/_v/public/assets/v1/published/vtex.store-footer@2.26.0/public/react/5f12d2a63f43d3a243550ff6400b4870.svg"
          loading="lazy"
        />
      </a>
      <a>
        <img
          src="https://storecomponents.vtexassets.com/_v/public/assets/v1/published/vtex.store-footer@2.26.0/public/react/20a214b4866fd6d42a6dfed070c0057b.svg"
          loading="lazy"
        />
      </a>
    </div>
    <div class="angular">
      <img src="assets/images/angular-logo.png" loading="lazy" />
      <span>Powered by Angular</span>
    </div>
  </div>
  <span class="made-by">Made by Bruno Caputo</span>
</footer>
