::ng-deep .discount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .coupon-field {
    .mat-mdc-form-field {
      width: 100%;
      height: 5rem;
    }
  }
  .coupon-field {
    width: 300px;
  }
}
