mat-card {
  background-color: rgb(233, 233, 233);

  .catalog-products-container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
  }
}
