<div class="cart-container">
  <div class="products-container">
    <div class="title">
      <h2>Cart Products</h2>
      <a *ngIf="!cartIsEmpty()" (click)="emptyShoppingCart()">
        Empty your cart
      </a>
    </div>
    <ng-container *ngIf="!cartIsEmpty(); else emptyCart">
      <product-tile
        *ngFor="let product of cartProducts; let i = index"
        [position]="i + 1"
        [product]="product"
        [quantity]="product.quantity"
        (onRemoveProduct)="removeProductFromCart(product.id)"
        (onChangeQuantity)="changeQuantity()"
      ></product-tile>
    </ng-container>
  </div>
  <div *ngIf="!cartIsEmpty()" class="coupon-container">
    <discount-field
      (onDiscountPercentage)="getDiscount($event)"
    ></discount-field>
  </div>
  <div *ngIf="!cartIsEmpty()" class="checkout-container">
    <div class="zip-code">
      <mat-form-field class="example-full-width">
        <mat-label>ZIP Code</mat-label>
        <input matInput placeholder="Enter the ZIP Code" maxlength="9" />
        <button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="payment">
      <div class="payment-data">
        <span>
          Total: <strong>${{ total.toFixed(2) }}</strong>
        </span>
        <span>
          Shipping Cost: <strong>${{ shippingCost.toFixed(2) }}</strong>
        </span>
        <span>
          Discount:
          <strong> ${{ discount.toFixed(2) }} </strong>
          <small>
            {{ discountPercentage > 0 ? "(" + discountPercentage + "%)" : "" }}
          </small>
        </span>
        <div class="estimated-total">
          <span>Estimated Total</span>
          <span id="value">${{ calculateEstimatedTotal() }}</span>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="checkout()">
        CHECKOUT
      </button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <span> There are no products in your shopping cart </span>
    <p>Add products by clicking <a [routerLink]="['/']">HERE</a></p>
  </div>
</ng-template>
