.details-container {
  width: 100%;
  min-height: calc(100vh - 64px - 100px);

  .product-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0.75rem;
    padding-left: 1rem;

    span {
      color: rgb(66, 70, 77);
      font-size: 1.5rem;
      line-height: 2.125rem;
      font-weight: 700;
    }
  }
  ::ng-deep .product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    .product-data-container {
      width: 100%;
      background-color: rgb(190, 190, 190);
      border-radius: 10px;
      padding: 10px 20px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rate {
          display: inherit;
          align-items: inherit;
          gap: 10px;

          span {
            font-size: 1rem;
          }
        }
        .actions {
          display: inherit;
          justify-content: flex-end;
          align-items: inherit;
          gap: 10px;
        }
      }
      .product-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        span.price {
          font-size: 1.5rem;
          font-weight: 500;
        }
        span.stock {
          font-size: 0.8rem;
          font-weight: 400;
        }
        .mat-mdc-form-field {
          width: 100px;
          height: 75px;
        }
      }
    }
  }
  .product-description {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    span.title {
      font-size: 1.7rem;
      font-weight: 800;
    }
    .mat-divider {
      width: 100%;
      border-top-color: black;
    }
    .tech-info-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;

      .info {
        padding-left: 1rem;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info-name {
          font-size: 1rem;
          font-weight: 600;
        }
        .info-value {
          font-size: 0.9rem;
        }
      }
    }
  }
}
