::ng-deep .products-container {
  padding: 16px !important;
  min-height: 40vh;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: bold;
      margin: 0;
    }
    a {
      cursor: pointer;
      color: rgb(0, 57, 131);
    }
  }
  .empty-cart {
    width: 100%;
    text-align: center;
    margin-top: 70px;

    span {
      font-size: 32px;
    }
    p {
      margin-top: 10px;
      font-size: 16px;

      a {
        color: rgb(0, 57, 131);
      }
    }
  }
}
