::ng-deep .resume-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;

  .products-container {
    position: relative;
    padding: 16px !important;
    height: 73vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-weight: bold;
        margin: 0;
      }
      a {
        cursor: pointer;
        color: rgb(0, 106, 192);
      }
    }
    .empty-cart {
      width: 100%;
      text-align: center;
      margin-top: 70px;

      span {
        font-size: 32px;
      }
      p {
        margin-top: 10px;
        font-size: 16px;

        a {
          color: rgb(0, 106, 192);
        }
      }
    }
  }
  .goto-checkout {
    max-width: 350px;
    width: 100%;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    .coupon-container {
      width: 100%;
    }
    .order-informations {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;

      span {
        font-size: 1rem;
      }
      .estimated-total {
        height: 50px;
        display: flex;
        align-items: center;
        gap: 40px;

        span {
          font-size: 1.5rem;
          font-weight: 500;
        }
        #value {
          font-weight: bolder;
        }
      }
    }
  }
}
